
.itemDetail__container {
    margin: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #FFD5AA;
  }
  
  .itemCard__btn {
    min-width: 150px;
    background-color: #BD5A42;
    height: 50px;
    font-weight: 800;
    border: none;
  }
  
  .itemCard__btn:hover {
    background-color: #F98E72 !important;
  }
  
 