.count__container {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    height: 50px;
    padding: .2rem;
    font-size: larger;
    max-width: 200px;
}

.itemDetail__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.itemDetail__button {
    width: 200px;
    background-color: #BD5A42;
    height: 50px;
    font-weight: 800;
    border: none;
  }
  
  .itemDetail__button:hover {
    background-color: #F98E72 !important;
  }

  .itemCount__button {
    background-color: #BD5A42;
    font-size: 1.5em;
    border: none;
    height: 50px;
    width: 70px;
  }
  
  .itemCount__button:hover {
    background-color: #F98E72 !important;
  }