.item__card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 10px 10px 5px 0 #777;
}

.item__card > img {
  height: 300px;
  width: 100%;
  max-width: 200px;
  object-fit: contain;
  padding: 1rem;
}

.itemCard__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: .7rem;
}

.itemCard__btn {
  min-width: 150px;
  background-color: #567;
  height: 50px;
  font-weight: 800;
}

.heart__icon-item {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart__filled {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}